- Jira benzeri bir proje yönetim sistemi
- Adı Fokus
- mesela projede şunu istiyorum bir ekip ne yapar sabahları daily toplantısı yapar sonra buradan taskları ilerletir dailyde ekran paylaşır vs şimdi ben de aslında slack, jira, retro çıktıları gibi durumları buradan yapmak istiyorum kimse başka bir araç kullanmadan bunu yapabilsin
- Laravel 12
- TALL stack kullanılmıştır
- Yarn kullan
- Tasarım araçlarında öncelikle MaryUI 2 kullan (https://mary-ui.com/docs/installation)
- Tasarım anlamında AWS tasarım tekniklerini kullan
- Tasarımın genelini AWS tasarımından ilham alarak yap
- Livewire 3
- Tema modern ve futuristik olmalı
- Arayüz english olmalı
- Projenin dili ingilizcedir
- AI olaral cevapları Türkçe ver
- PHP 8.3
Postgres 15
- PSR kullan
- socket için laravel reverb kullan
- Toast mesajları için     use \Mary\Traits\Toast kullan $this->success('mesaj') , $this->error('mesaj') , $this->info('mesaj') , $this->warning('mesaj')
- Jira, Asana, Trello gibi proje yönetim sistemlerinden feyz al
- Icon set olarak fas kullan örnek fas.user gibi ("owenvoke/blade-fontawesome": "^2.9" kullanılıyor)
- Laravel Livewire Volt kullan, örneğin:
- dosyalar şöyle başlayacak
-   <x-label böyle bir yazım stili yok. label genelde prop içinde olacak
- <x-select optionsları almıyor içine :options prop olacak ve id ve name değerleri alacak
MaryUI 2 kullan (https://mary-ui.com/docs/installation) <x-component></x-component> şeklinde x-mary-input değil x-input gibi

<?php
    new class extends Livewire\Component {

    }
?>

<div>
.....
</div>


Routes:
use Livewire\Volt\Volt;

Volt::route('/', 'index');

gibi
