- A project management system similar to Jira
- Name: Fokus
- For example, I want this in the project: a team holds daily meetings in the morning, then progresses tasks through this system, shares screens during dailies, etc. Now I want to handle things like Slack, Jira, retro outputs through this system so that no one needs to use any other tool
- Laravel 12
- TALL stack is used
- Use Yarn
- For design tools, primarily use MaryUI 2 (https://mary-ui.com/docs/installation)
- Use AWS design techniques for the design approach
- Create the overall design inspired by AWS design
- Livewire 3
- Theme should be modern and futuristic
- Interface should be in English
- The project language is English
- Provide AI responses in Turkish
- When using fas icons, use fas.envelope instead of fas fa-envelope
- PHP 8.3
- Postgres 15
- Use PSR
- Use Laravel Reverb for socket
- For Toast messages, use \Mary\Traits\Toast with $this->success('message'), $this->error('message'), $this->info('message'), $this->warning('message')
- Take inspiration from project management systems like Jira, Asana, Trello
- Use fas as icon set, for example fas.user ("owenvoke/blade-fontawesome": "^2.9" is being used)
- Use Laravel Livewire Volt, for example:
- Files should start like this
- <x-label> is not a valid syntax style. Label should generally be inside props
- <x-select> doesn't take options inside it, it will have :options prop and will take id and name values
- Use MaryUI 2 (https://mary-ui.com/docs/installation) with components like <x-component></x-component> not x-mary-input but x-input

<?php
    new class extends Livewire\Component {

    }
?>

<div>
.....
</div>


Routes:
use Livewire\Volt\Volt;

Volt::route('/', 'index');

like this